

<ul class="list-inline">
  <li role="presentation" ><a href="/camps/create"class="btn btn-info" role="button">Create new camp</a></li>
</ul>
<hr>

<h4>Current camps</h4>
<div id="onlineInfo">

</div>
{{# each onLine}}

  <a href="admin/{{_id}}">
    <div class="camp_container">
      <div class="camp_thumb">
        {{name}}
      </div>
      <div class="camp_info">
        {{description}}
      </div>
    </div>
  </a>
{{/each}}
<hr>
<h4>Offline camps</h4>
<div id="offlineInfo">

</div>
{{# each offLine}}

  <a href="admin/{{_id}}">
    <div class="camp_container">
      <div class="camp_thumb">
        {{name}}
      </div>
      <div class="camp_info">
        {{description}}
      </div>
    </div>
  </a>
{{/each}}


<script type="text/javascript">
window.onload = function(){
  var offLW = document.getElementById("offlineInfo");
  var onLW = document.getElementById('onlineInfo');
  if({{onLine.length}} === 0){ onLW.innerHTML="There are no Camps being advertised" };
  if({{offLine.length}} === 0 ){ offLW.innerHTML="There are no camps Offline" };
}

</script>
