<h1>Camp analytics</h1>
show details of each camp

<ul>
  <li>Title: {{camp.name}}</li>
  <li>Desc: {{camp.description}}</li>
  <li>Cost: {{camp.cost}}</li>
  <li>Dates: {{camp.dates}}</li>
</ul>

<h2>Edit:</h2>
<div class="">
  set camp offline
  <button class="btn btn-primary" type="button" name="offline">Offline.</button>
</div>
<form method="post" action="/camps/update">
   <div class="form-group">
    <label>Camp Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
  <div class="form-group">
   <label>Description</label>
   <input type="text" class="form-control" placeholder="Description" name="description">
 </div>
  <div class="form-group">
    <label>Cost</label>
    <input type="text" class="form-control" placeholder="Cost" name="cost">
  </div>
  <div class="form-group">
    <label>Duration</label>
    <input type="text" class="form-control" placeholder="How long is the camp?" name="length">
  </div>
  <div class="form-group">
    <label>Dates</label>
    <input type="text" class="form-control" placeholder="Dates" name="dates">
  </div>
  <input type="hidden" name="camp_id" value="{{camp._id}}">
  <button type="submit" class="btn btn-default">Save Camp</button>

</form>
