<h2>Book your camp ☺️</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<p>
  Jolly Hockeysticks! Book your stay at an exciting burleigh heads camp here.
</p>
<div class="user_info_booking">
  <ul>
    <li>User id: {{user.id}}.</li>
    <li>Username: {{user.username}}.</li>
    <li>Users Names: {{user.name}}.</li>
    <li>Your email: {{ user.email}}.</li>
  </ul>
</div>

<a href="/bookings/info">
  <div class="camp_container">
    <div class="camp_thumb">
      <!-- <img class="cmp_thmbnl_pic" src="../images/camp.jpg" alt="camp image"> -->
        <!-- <div class="item-overlay top">Camp A</div> -->
        Camp A
    </div>
    <div class="camp_info">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui."
    </div>
  </div>
</a>
<a href="/bookings/info">
  <div class="camp_container">
    <div class="camp_thumb">
      <!-- <img class="cmp_thmbnl_pic" src="../images/camp.jpg" alt="camp image">
        <div class="item-overlay top">Camp A</div> -->
        Camp B
    </div>
    <div class="camp_info">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui."
    </div>
  </div>
</a>
<a href="/bookings/info">
  <div class="camp_container">
    <div class="camp_thumb">
      Camp C
      <!-- <img class="cmp_thmbnl_pic" src="../images/camp.jpg" alt="camp image">
        <div class="item-overlay top">Camp A</div> -->
    </div>
    <div class="camp_info">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui."
    </div>
  </div>
</a>
