<h2>Book your camp</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}

<div id="info_box">

</div>
{{# each camplist}}
  <a href="/camps/{{_id}}">
    <div class="camp_container">
      <div class="camp_thumb">
        {{name}}
      </div>
      <div class="camp_info">
        {{description}}. {{dates}}
      </div>
    </div>
  </a>

{{/each}}

<script type="text/javascript">
window.onload = function() {
  var info_box = document.getElementById('info_box');
  if({{camplist.length}} === 0 ){
    info_box.innerHTML = "There are currently no available camps"
  }
}; //window.onload
</script>
