
<ul class="list-inline">
  <li><a href="/profiles/new">Register Child</a></li>
  <li><a href="#">Book A Camp</a></li>
  <li><a href="#">View Bookings</a></li>
  <li><a href="#">View registered Children</a></li>
  <li><a href="#">History</a></li>
  <li><a href="#">Tax Invoices</a></li>
</ul>
<br>
<p>
  Hi, {{user.name}}. Welcome to the CYC booking centre. Here you can control your bookings and register children for CYC camps.

<!-- <ul class="nav nav-pills">
  <li role="presentation" ><a href="/camps/index">Book a Camp?</a></li>
  <li role="presentation" ><a href="#">Your bookings</a></li>
</ul> -->
<br>
<br>
<h4>Child Profiles</h4>
<div class="child_profiles">

</div>
<br>
<h4>Your bookings</h3>
<div class="booking_profiles">
  <br>
  {{#if bookings}}
    {{#each bookings}}
      <ul class="list-group">
      <a href="/bookings/{{_id}}"> <li class="list-group-item">{{camp_name}}, {{camp_date}}.</li></a>
      </ul>
    {{/each}}
  {{else}}
      You are not booked into any camp.
  {{/if}}
</div>
